html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  background-color: #121212;
  color: white;
  box-sizing: border-box;
  // overflow-x: hidden;
}
.text-center {
  text-align: center;
}
.title {
  font-family: Helvetica Neue, Helvetica;
  font-size: 70px;
  font-weight: bold;
}