.cardcontainer {
  .cardstuyimg {
    filter: opacity(40%);
    width: 100%;
  }
  .cardlogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    background-color: transparent;
  }
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 97%;
  margin: auto;
}
@media (max-width: 1570px) {
  .cardcontainer {
    .cardstuyimg {
      height: 70vh;
      width: auto;

      margin-left: 52%;
      transform: translateX(-52%);
    }
  }
}
@media (max-width: 1000px) {
  .cardcontainer {
    .cardlogo {
      width: 339.5px;
    }
  }
}
section.main {
  overflow: auto;
  background-color: red;
}